
  <table width="100%" class="database">
    <tr>
      <th>First Name</th>
      <th>Email Address</th>
    </tr>
    {{#each subscriber}}
    <tr class="dataRow">
      <td>{{fname}}</td>
      <td>{{email}}</td>
    </tr>
    {{/each}}
  </table>
