<div id="top" class="front-page-wrapper">
  <div class="column1">
    <span>
      <div class="sliderText">
        <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
        <p class="sliderText_content subtitle">{{subtitle}}</p>
      </div>

    </span>
  </div>

  <div class="column2" id="email">
    <img class="logo spinner" src="/images/thepoint.png"  width="40%" alt="">
    <form class="form" action="/send" method="post">
        <h4>STAY UP TO DATE WITH YOUR FUTURE HOME</h4>
        <input required class="form_content" type="text" name="fname" placeholder="First Name"value="">
        <input required class="form_content" type="text" name="email" placeholder="Email Address"value="">
        <button class="form_content" type="submit" name="button">Submit</button>
        <p><em style="font-size:.4em">*We will not sell your email to any 3rd parties or send non-related advertisements to this account*</em></p>
    </form>
    <span class="arrow down_arrow">
      <a style="margin:auto" href="#images-info-wrapper"><h3>Learn More</h3></a>
      <a href="#images-info-wrapper"><img class="spinner" src="/images/down_arrow.png" width="40%" alt=""></a>
    </span>
  </div>
</div>

  <div id="images-info-wrapper" class="collage-wrapper">
    <div class="collage-image container info">
      <img src="/images/modern.png" class="info-text img" alt="">
    </div>
    <div class="collage-image container">
      <img src="/images/gym.jpg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image container">
      <img src="/images/family.jpg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> you'll find that fresh groceries are only a few steps away from your front steps</p></span></span>
    </div>
    <div class="collage-image large container">
      <img src="/images/food-share.jpg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image container">
      <img src="/images/gym.jpg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image small container">
      <img src="/images/veggies.jpg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> you'll find that fresh groceries are only a few steps away from your front steps</p></span></span>
    </div>
    <div class="collage-image container">
      <img src="/images/dining.jpeg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image small container info">
      <img src="/images/modern.png" class="img info-text" alt="">
    </div>
    <div class="collage-image container">
      <img src="/images/pool.jpeg" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image small container info">
      <img src="/images/modern.png" class="img info-text" alt="">
    </div>
    <div class="collage-image small container">
      <img src="/images/pool.jpeg" class="img" width="100%" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
    <div class="collage-image container">
      <img src="/images/jog.gif" class="img" alt="">
      <span class="overlay">
      <span class="text"><p>At <em><strong>The Point Apartments</strong></em> your community can be as social or relaxed as you like. With a centralized location, great dining and cocktails are never too far away.</p></span></span>
    </div>
</div>

  <div class="arrow up-arrow-wrapper">
    <div class="ish">
      <a width="100%" class="up_arrow" href="#email">
        <h3>Back to Top</h3>
        <img src="/images/up_arrow.png" width="15%" alt="">
      </a>
    </div>
  </div>

</div>
