<div id="top" class="front-page-wrapper">
  <div class="column1">
    <div class="sliderText">
      <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
    </div>
    <div class="column2">
      <p class="sliderText_content subtitle">{{subtitle}}</p>
    </div>
  </div>
  <div class="column2">
    <form class="form" action="/send" method="post">
      <img class="big_logo" src="/images/thepoint.png" alt="">
      <h4>Stay up to date with your future home</h4>
      <input required class="form_content" type="text" name="fname" placeholder="First Name"value="">
      <input required class="form_content" type="text" name="email" placeholder="Email Adress"value="">
      <button class="form_content" type="submit" name="button">Submit</button>
      <p><em style="font-size:.4em">*We will not sell your email to any 3rd parties or send non-related advertisements to this account*</em></p>
    </form>
    <a style="margin:auto" href="#images-info-wrapper"><h3>Learn More</h3></a>
    <a href="#images-info-wrapper"><img style="margin-right:14px"src="/images/down_arrow.png" width="40%"alt=""></a>
  </div>
</div>

  <div class="images-info-wrapper" id="images-info-wrapper">
      <div class="column-set">
        <div class="photos set1_content_medium info-div">
          <h4>The Point:</h4>
          <p>Coming to Richmond, California in 2018. <em>The Point</em> will be a community located in the heart of __ district offering endless activities, amenities and affordable lifestyles</p>
        </div>
        <div class="photos set1_content_medium small">
          <img src="/images/veggies.jpg" width="100%" alt="">
        </div>
      </div>
      <div class="photos set1_content_tall">
        <img src="/images/food-share.jpg" alt="">
      </div>
      <div class="column-set">
        <div class="photos set1_content_medium">
          <img src="/images/social_drinks.jpeg" width="100%" alt="">
        </div>
        <div class="photos set1_content_medium small">
          <img src="/images/records.jpg" width="100%" alt="">
        </div>
      </div>
  </div>

  <div class="up-arrow-wrapper">
    <div class="ish">
      <a width="100%" href="#top">
        <h3>Back to Top</h3>
        <img src="/images/up_arrow.png" width="15%" alt="">
      </a>
    </div>
  </div>
