<div id="top" class="front-page-wrapper">
  <div class="column1">
    <span>
      <div class="sliderText">
        <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
        <p class="sliderText_content subtitle">{{subtitle}}</p>
      </div>

    </span>
  </div>
  <div class="column2">
    <img class="logo" src="/images/thepoint.png" width="40%" alt="">
    <form class="form" action="/send" method="post">
        <h4>STAY UP TO DATE WITH YOUR FUTURE HOME</h4>
        <input required class="form_content" type="text" name="fname" placeholder="First Name"value="">
        <input required class="form_content" type="text" name="email" placeholder="Email Address"value="">
        <button class="form_content" type="submit" name="button">Submit</button>
        <p><em style="font-size:.4em">*We will not sell your email to any 3rd parties or send non-related advertisements to this account*</em></p>
    </form>
    <span class="down_arrow">
      <a style="margin:auto" href="#images-info-wrapper"><h3>Learn More</h3></a>
      <a href="#images-info-wrapper"><img style="margin:14px"src="/images/down_arrow.png" width="40%" alt=""></a>
    </span>
  </div>
</div>

  <div class="images-info-wrapper" id="images-info-wrapper">
    <div class="sets1-2-wrapper">
      <div class="set1">
          <div class="set1-content info-div">
              <h4>The Point Apartments:</h4>
              <p>Coming to Richmond, California in 2018. <em><strong>The Point Apartments</strong></em> will be a community located in the heart of Northern California offering endless activities, amenities and affordable lifestyles</p>
            </div>
          <div class="set1-content">
            <img src="/images/veggies.jpg" width="100%"alt="">
          </div>
      </div>
        <div class="set2">
            <img src="/images/food-share.jpg" alt="">
        </div>
    </div>
    <div class="set3-wrapper">
      <div class="set3-content">
          <img src="/images/social_drinks.jpeg" width="100%" alt="">
        </div>
        <div class="set3-content">
          <img src="/images/records.jpg" width="100%" alt="">
        </div>
        <div class="set3-content info-div second-info-div">
          <h4>Modern Living</h4>
          <p>Please <a style="color:rgba(4,0,101,.9)"href="#top">sign up</a> for our email newsletter to stay informed about upcoming leasing dates and options</p>
      </div>
    </div>


  <div class="up-arrow-wrapper">
    <div class="ish">
      <a width="100%" href="#top">
        <h3>Back to Top</h3>
        <img src="/images/up_arrow.png" width="15%" alt="">
      </a>
    </div>
  </div>









  <!-- <div class="set">
      <div class="set1_content_tall hideList">
        <img class="top" src="/images/food-share.jpg" alt=""/>
      </div>
  </div>
  <div class="set">

  </div>
  <div class="set">
    <div class="set1_content_medium hideList">
      <img class="top" src="/images/veggies.jpg" width="100%" alt=""/>
    </div>
  </div>
  <div class="set set3">
    <div class="set1_content_medium hideList">
      <img class="top" src="/images/social_drinks.jpeg" width="100%" alt=""/>
    </div>
    <div class="set1_content_medium hideList">
      <img class="top" src="/images/records.jpg" width="100%" alt=""/>
    </div>
  </div> -->








  <!-- <ul class="demo-2 effect set1_content_medium hideList">
    <li>
       <h2 class="zero">Conveniently Close Grocery Stores</h2>
    </li>
    <li><img class="top" src="/images/veggies.jpg" width="100%" alt=""/></li>
  </ul>
</div>
<ul class="demo-2 effect1 set1_content_tall hideList">
  <li>
     <h2 class="zero">World class dining around the corner</h2>
  </li>
  <li><img class="top" src="/images/food-share.jpg" alt=""/></li>
</ul>
<div class="column-set">
  <ul class="demo-2 other-demo-style effect set1_content_medium hideList">
    <li>
       <h2 class="zero">At the center of your <em>Social Life</em></h2>
    </li>
    <li><img class="top" src="/images/social_drinks.jpeg" width="100%" alt=""/></li>
  </ul>
  <ul class="demo-2 other-demo-style1 effect set1_content_medium hideList">
    <li>
       <h2 class="zero">Local Shops are part of the community</h2>
    </li>
    <li><img class="top" src="/images/records.jpg" width="100%" alt=""/></li>
  </ul> -->
</div>
<!-- </div> -->
