* {
   box-sizing: border-box;
}

body {
  margin: auto;
  background-color: lightgrey;
}

a {
  color: darkgrey;
  text-decoration: none;
}

.front-page-wrapper {
  width: 100%;
  height: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column1 {
  width: 65%;
  height: 96vh;
  margin: 1%;
  background-image: url('/images/sf_bridge.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid rgba(245,240,208, .6);;
}

#slider_text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sliderText {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 9%;
}

.sliderText_content {
  font-size: 2.4em;
  font-family: 'Roboto Slab', serif;
  letter-spacing:1px;
}

.subtitle {
  font-size: 1.7em;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-family: 'Droid Sans', sans-serif;
}


.column2 {
  width: 32%;
  height: 96vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

.column2 input {
  width: 40%;
  font-family: 'Droid Sans', sans-serif;
  border: 1px solid black;
}

.column2 button {
  width: 90%;
  font-size: 1.4em;
  padding:5px;
  font-family: 'Droid Sans', sans-serif;
  border: 2px solid black;
}

.column2 button:hover {
  cursor: pointer;
}


.column2 h3 {
  width: 100%;
  margin: auto;
}

.column2 h4 {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2em;
}

.column2 img {
   -webkit-transition: -webkit-transform .8s ease-in-out;
   -ms-transition: -ms-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
   width:40%;
   margin: auto;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.form {
  border: 2px solid black;
  padding:10px;
  background-color: rgba(245,240,208, .6);
}

.form input {
  font-size: 1.2em;
  padding:5px;
}

.form button {
  background-color: rgba(24,110,25,.8);
  color: white;
}


.form_content {
  margin: 2%;
  text-align: center;
}

/*Images-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_Wrapper*/

.images-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set1 {
  width: 100%;
  margin: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column-set {
  width: 30%;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.set1_content_medium {
  width: 100%;
  margin: 2%;
}

.info-div {
  height:30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid black;
  background-color: rgba(245,240,208, .6);
}

.info-div h4 {
  font-size: 2em;
  text-decoration: underline;
  width: 100%;
  margin: 1%;
  font-family: 'Roboto Slab', serif;
}

.info-div p {
  width: 100%;
  line-height: 25px;
  font-family: 'droid sans', sans-serif;
}

ul {
  border: 2px solid black;
}

.up-arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  margin: auto;
}

.ish {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

.ish img {
  margin-left:1.2%;
}

/*STYLE TRY OVERLAY*/

.demo-2 {
    position:relative;
    width:400px;
    height:250px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5);
      font-family: 'Roboto Slab', serif;
}

.other-demo-style {
    position:relative;
    width:400px;
    height:210px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5);
}

.other-demo-style1 {
    position:relative;
    width:420px;
    height:210px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5);
}

.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative;
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family: 'Droid Sans', sans-serif;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out;
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px;
}

.effect1 img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out;
}

.effect1 img.top:hover {
    bottom:-350px;
    padding-top:100px;
}

h2.zero,p.zero {
    margin:0;
    padding:0;
}

.set1_content_tall {
  overflow:hidden;
  height: 480px;
}

.hideList {
  list-style: none;
  text-align: center;
}
