#040065#040065#040065* {
   box-sizing: border-box;
   margin: auto;
}

body {
  margin: auto;
  background-color: lightgrey;
}

a {
  color: darkgrey;
  text-decoration: none;
}

.front-page-wrapper {
  width: 100%;
  height: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.column1 {
  width: 65%;
  height: 96vh;
  margin: 1%;
  background-image: url('/images/sf_bridge.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid rgba(245,240,208, .6);
}

.column1 span {
  position: relative;
}

#slider_text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sliderText {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.sliderText_content {
  font-size: 2.4em;
  font-family: 'Roboto Slab', serif;
  letter-spacing:1px;
  width: 100%;
}

.subtitle {
  font-size: 1.7em;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
}


.column2 {
  width: 31%;
  height: 96vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}



.column2 input {
  width: 40%;
  font-family: 'Droid Sans', sans-serif;
  border: 1px solid black;
}

.column2 button {
  width: 90%;
  font-size: 1.4em;
  padding:5px;
  font-family: 'Droid Sans', sans-serif;
  border: 2px solid black;
}

.column2 button:hover {
  cursor: pointer;
}


.column2 h3 {
  width: 100%;
  margin: auto;
}

.column2 h4 {
  font-family: 'Roboto Slab', serif;
  color: rgba(4,0,101,.9);
  text-shadow: -1px 0 #040065, 0 1px #040065, 1px 0 #040065, 0 -1px #040065;
  font-size: 2em;
}

.column2 img {
   -webkit-transition: -webkit-transform .8s ease-in-out;
   -ms-transition: -ms-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
   width:40%;
   margin: auto;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.form {
  border: 2px solid black;
  padding:10px;
  background-color: rgba(245,240,208, .6);
}

.form input {
  font-size: 1.2em;
  padding:5px;
}

.form button {
  background-color: rgba(24,110,25,.8);
  color: white;
}


.form_content {
  margin: 2%;
  text-align: center;
}

/*Images-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_WrapperImages-Info_Wrapper*/

.images-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin:auto;*/
  flex-wrap: wrap;
}

.sets1-2-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.set1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 3%;
  margin-bottom:2%;
}

.set1-content {
  text-align: center;
  width: 45%;
  margin: 2%;
}

.info-div h4 {
  font-size: 2em;
  text-decoration: underline;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  color: rgba(4,0,101,.9);
}

.set1-content img {
    border: 3px solid rgba(245,240,208, .6);
}

.set2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.set2 img {
    border: 3px solid rgba(245,240,208, .6);
}

.set3-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.set3-content {
  width: 28%;
  margin-top: auto;
  margin: 2%;
  text-align: center;
}

.set3-content img {
  border: 3px solid rgba(245,240,208, .6);
}

.info-div {
  border: 2px solid black;
  font-family: 'Droid Sans', sans-serif;
  background-color: rgba(245,240,208, .6);
  padding: 10px;
}

.second-info-div {
  padding: 15px;
}

ul {
  border: 2px solid black;
}

.up-arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  margin: auto;
}

.ish {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

.ish img {
  margin-left:1.2%;
}

/*STYLE TRY OVERLAY*/



.set1_content_tall {
  overflow:hidden;
  height: 55vh;
}

.hideList {
  list-style: none;
  text-align: center;
}


/*OVERLAY - - - - OVERLAY - - - - OVERLAY - - - - OVERLAY - - - - OVERLAY - - - - */
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #040065;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 95%;
  line-height: 35px;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}


/*Media Query */

@media (max-width:1150px){

  .set1_content_tall {
    overflow:hidden;
    height: 45vh;
  }

  .column1 {
    width: 95%;
  }

  .column2 {
    width: 90%;
  }

  img.logo {
    width: 20%;
    margin: 3%;
  }

  .down_arrow {
    margin:4%;
  }

  .set1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
  }

  .set1-content {
    width: 40%;
    margin-left: 4%;
    margin-right:4%;
  }

  .set3-content {
    width: 95%;
  }

  .set1-content img {
      border: 3px solid rgba(245,240,208, .6);
  }
  .set2 img {
      border: 3px solid rgba(245,240,208, .6);
  }
  .set3-content img {
    border: 3px solid rgba(245,240,208, .6);
  }

  .text {
    font-size: 1em;
    width: 95%;
    line-height: 30px;
  }

}

@media (max-width:700px) {



  .set1_content_tall {
    overflow:hidden;
    height: 30vh;
    width: 80%;
  }

  .set1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .set1-content {
    width: 100%;
    margin-bottom:5%;
    /*margin: 5%;*/
  }

  .set2 {;
    display: flex;
    flex-wrap: wrap;
  }

  .set2 img {
    width: 85%;
  }

  .set-content p {
    font-size: .7em;
  }

  .set3-content {
    width: 95%;
  }

  .set1-content img {
      border: 3px solid rgba(245,240,208, .6);
  }
  .set2 img {
      border: 3px solid rgba(245,240,208, .6);
  }
  .set3-content img {
    border: 3px solid rgba(245,240,208, .6);
  }

  .text {
    font-size: 1em;
  }
}

.signup {
  text-decoration: underline;
  color:rgba(255,255,255,.9);
}
